/* RESET BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: "Poppins", sans-serif;
  background-color: #111;
  color: #fff;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e vecchi Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

a {
  text-decoration: none;
}


/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-img {
  height: 50px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.logo-img:hover {
  opacity: 0.7;
}

/* NAV */
nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover,
nav ul li a.active {
  color: #e63946;
}

/* HERO */
.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SEZIONI PEZZI / CARD */
.pezzi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 100px 20px;
  background: #111;
}

.card {
  background: #222;
  border-radius: 15px;
  overflow: hidden;
  width: 300px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  object-fit: cover;
}

.card h2 {
  margin: 15px;
  font-size: 1.4em;
  color: wheat;
}

.card p {
  margin: 0 15px 15px;
  color: wheat;
}

/* NEWSLETTER */
.newsletter {
  text-align: center;
  padding: 60px 20px;
  background: #000;
}

.newsletter input {
  padding: 10px;
  width: 250px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter button {
  padding: 10px 20px;
  background: #e63946;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 40px;
  background: #000;
  font-size: 0.9em;
  color: #777;
  margin-top: -50px;
}

/* DROP */
.drop-section {
  padding: 40px 20px;
  text-align: center;
}

.drop-title {
  font-size: 3em;
  margin-bottom: -5px;
}

.drop-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
}

.drop-item {
  position: relative;
}

.drop-item img {
  width: 100%;
  border-radius: 8px;
}

/* PRIVACY MINI */
.privacy-mini {
  text-align: center;
  padding: 40px;
  background: #000;
  font-size: 0.9em;
  color: #777;
  margin-top: -80px;
}

/* Overlay pezzi venduti */
.sold-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,0,0,0.5);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border-radius: 8px;
  pointer-events: none;
}

/* DROP STORY / DESIGN */
.drop-story,
.drop-design {
  margin: 0 15%;
  line-height: 2.5rem;
  font-size: 1em;
}

.drop-design {
  text-align: left;
  margin-bottom: 60px;
}

.contenuto-pagina{
  margin: 0 2%;
  line-height: 3rem;
  margin-top: -120px;
  font-size: 1.5rem;
}

.contenuto-contatti{
  margin: 0 27%;
  line-height: 1.5rem;
  font-size: 1rem;
}

.contenuto-contatti p{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 10%;
}

.pagine-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 700px;
  margin: 0 auto;
  font-size: 0.8em;
}

.ig{
  color: #E1306C;
}

.tt{
  color: #FE2C55;
}

.yt{
  color: #FF0000;
}

.vt{
  color: #00B28F;
}

/* Popup overlay (sfondo scurito ma sito visibile dietro) */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px); /* sfondo sfocato */
  z-index: 10;
  display: none;
}

/* Popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 70%;
  max-width: 900px;
  background: #111;
  border-radius: 20px;
  padding: 30px;
  z-index: 20;
  display: none;
  opacity: 0;
  transition: 0.25s ease;
}

.popup-content {
  display: flex;
  gap: 30px;
}

.popup-img {
  width: 45%;
  border-radius: 15px;
  object-fit: cover;
}

.popup-info {
  width: 55%;
  max-height: 60vh;
  overflow-y: auto; /* scroll interno se serve */
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
}

.popup.show {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup-overlay.show {
  display: block;
}

.item img{
  width: 30%;
}