.grid-prodotti {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 card per riga */
  gap: 30px; /* spazio tra le card */
  padding: 40px 5%;
}

.card {
  background: var(--bg2);
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 15px 15px 0 0; /* arrotondato solo sopra */
}

.card h3 {
  margin: 12px 0 5px;
  font-size: 1.2rem;
}

.card .prezzo {
  color: #e8c18d;
  font-weight: bold;
  margin-bottom: 12px;
}
