.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(4px);
  display: none;
  z-index: 10;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 70%;
  max-width: 900px;
  background: var(--bg);
  border-radius: 20px;
  padding: 30px;
  z-index: 20;
  opacity: 0;
  display: none;
  transition: 0.25s;
}

.popup.show {
  opacity: 1;
  display: block;
  transform: translate(-50%, -50%) scale(1);
}

.popup-overlay.show {
  display: block;
}

.popup-content {
  display: flex;
  gap: 25px;
}

.popup-img {
  width: 45%;
  border-radius: 15px;
  object-fit: cover;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
