.contenuto-contatti {
  margin: 0 27%;
  font-size: 1rem;
  line-height: 1.5rem;
}

.contenuto-contatti p {
  margin: 15px 10% 15px 0;
}

.pagine-social {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  max-width: 700px;
  margin: auto;
}

.ig { color: #E1306C; }
.tt { color: #FE2C55; }
.yt { color: #FF0000; }
.vt { color: #00B28F; }
