.drop-section {
  display: grid;
  gap: 40px;
  padding: 80px 10%;
}

.drop-title {
  font-size: 3em;
}

.drop-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: auto-fit;
  justify-items: center;
  align-items: center;

}

.drop-item img {
  width: 100%;
  border-radius: 8px;
}

.sold-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,0,0,0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.drop-story,
.drop-design {
  margin: 0 15%;
  line-height: 2.5rem;
}

.card{
  background: var(--bg2);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  transition: .3s;

}

.grid-prodotti{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 80px 10%;

}