body, html {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero img,
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
